body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #A9734A;
    margin: 0;
    padding: 0;
}

._4z_b ._4z_8 ._4z_d{
    width: 200px;
    height: 50px;
}

.container {
    max-width: 1280px;
    margin: 20px auto;
    padding: 20px;
    background-color: #343333;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.logo img{
    width: 60px;
    height: 60px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 2px solid #A9734A;
}

.logo h1 {
    margin: 0;
    color: #A9734A;
    font-size: 24px;
    font-weight: bold;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin-right: 25px;
}

.menu a {
    text-decoration: none;
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #A9734A;
}

.user-profile {
    display: flex;
    align-items: center;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.user-info {
    text-align: right;
}

.welcome {
    display: block;
    font-size: 14px;
    color: #666666;
    margin-bottom: 5px;
}

.user-info a {
    color: #A9734A;
    text-decoration: none;
    transition: color 0.3s ease;
}

.user-info a:hover {
    color: #A9734A;
}

.content {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.contacts, .agendas {
    flex-basis: 48%;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.contacts h2, .agendas h2 {
    color: #A9734A;
    border-bottom: 2px solid #A9734A;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 15px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

li:hover {
    background-color: #f2f2f2;
}


.user-profile {
    display: flex;
    align-items: center;
    gap: 10px;
}
.avatar {
    width: 40px;
    height: 40px;
    background-color: #007bff;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 18px;
    font-weight: bold;
}
.user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.user-info .welcome {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}
.user-info a {
    text-decoration: none;
    color: #007bff;
    font-size: 12px;
}