@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Mohave:ital,wght@0,300..700;1,300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


html{
    scroll-behavior: smooth;
    box-sizing: border-box;
}


body , * {
    box-sizing: border-box !important;
}

body{
    font-family: "Mohave", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    scroll-behavior: smooth;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box !important;
}

header{
    position: relative;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("../img/IMG_9328-studioc-1920px-vignette.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: white;
    font-family: "Mohave", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5em;
    padding: 15px 20px;
    border-bottom: 1px solid;
    border-color: rgba(255,255,255,0.15) !important;
    z-index: 1;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
}

.navbar.scrolled{
    background-color: #000000c7;
    position: fixed;
}

.menu-left, .menu-right, .logo {
    display: flex;
    align-items: center;
}


.logo img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.wrapper-banner{
    width: 100%;
    display: grid;
    grid-template-columns: 90% 10%;
    color: #fff;
    text-align: center;
}

.social-media{
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: first baseline;
}

.social-media a{
    margin-left: 10px;
    margin-top: 10px;
    display: block;
}


.social-media a:hover i{
    color: #A9734A !important;
}

.title-banner{
    height: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: "Mohave", sans-serif;
    grid-column: 1/3;
}

.title-banner h1{
    font-size: 7.4em;
    text-transform: uppercase;
    font-family: "Bebas Neue", sans-serif;
}

.title-banner h2{
    font-size: 2.7em;
}


.title-banner p{
    font-size: 2.3em;
}


.scroll-arrow{
    margin-top: 20px;
}

.scroll-arrow a{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 50%;
}

.scroll-arrow a:hover{
    background-color: #fff;
}

.scroll-arrow a:hover i{
    color: #000 !important;
}

.scroll-arrow a i{
    color: #fff !important;

}

.gear-title{
    height: 100%; 
    display: flex; 
    padding: 0px 50px; 
    justify-content: center; 
    flex-direction: column; 
    color: #fff; 
    width: 50%; 
    background-image: url('../img/vintage-photo-texture-overlay-3.jpg'); 
    height: 100%; 
    background-size: cover;
}

.gear-title h1{
    font-size: 8.2em;
}

#wrapper-rooms{
    width: 100%;
    background-image: url('../img/vintage-photo-texture-overlay-3.jpg');
    height: 890px;
}

.rooms{
    margin-top: 40px;
}

.title-rooms{
    padding: 5rem 2rem 2rem;
    color: #fff;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    
}

.title-rooms h1{
    flex: 30%;
    font-size: 7.2em;
    text-transform: uppercase;
}

.title-rooms p{
    font-size: 1.6em;
    flex: 1;
}

.rooms{
 padding: 2rem 0px;
}

.rooms img{
    width: 330px !important;
    height:330px !important;
    object-fit: cover;
    margin: 0px 10px;
}

.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
}

.hamburger span {
    background-color: white;
    height: 3px;
    width: 100%;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.cta-button {
    background-color: #A9734A;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #66472f;
}

.mobile-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: width 0.5s ease;
    padding-top: 60px;
}

.mobile-menu a {
    padding: 15px 25px;
    text-decoration: none;
    font-size: 22px;
    color: white;
    display: block;
    transition: color 0.3s ease;
}

.mobile-menu a:hover {
    color: #ddd;
}

.mobile-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    cursor: pointer;
}


.wrapper-record{
    width: 100%;
    background-image: url('../img/rooms-bg-art.jpg');
    background-size: cover;
    display: flex;
    gap: 20px;
    padding: 4rem 2rem;
}

.record-title{
    width: 45%;
    padding: 10rem 0px;
}


.record-img{
    display: flex;
    gap: 10px;
    width: 55%;
    align-items: center;
    overflow: hidden; /* esconde a imagem no :hover */
    flex-wrap: wrap;
    padding: 10px;

}

.box-record-img{
    width: 190px;
    height: 190px;
    background-size: 120%;
    background-position: center;
    transition: background 0.5s;
}
.box-record-img:hover{
    background-size: 100%;
}

.record-title h1{
    font-size: 7.4em;
    color: #000;
}


.record-title p{
    font-size: 2.2em;
    color: #000;
}

.record-title a{
    text-align: center;
    margin: 10px 0px;
    width: 250px;
    display: block;
    padding: 20px 30px;
    background-color: #66472f;
    font-size: 25px;
}




.gear-wrapper{
    width: 100%;
    display: flex;    
    height: 900px;
}

.gear-title p{
    font-size: 30px;
}

.gear-img{
    width: 50%;
    
    background-image: url('../img/IMG_1024.jpg'); 
    background-size: cover;
}

.scrollback{
    width: 30px;
    height: 30px;
    padding: 30px;
    text-align: center;
    background-color: #303133 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 50px;
    right: 60px;
    display: none;
    transition: 2s ease;
}



@media screen and (max-width: 768px) {
    .menu-left, .menu-right .cta-button {
        display: none;
    }

    .menu-right .hamburger {
        display: flex;
    }
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #ddd;
}

.navbar a:not(.cta-button) {
    padding: 10px 15px;
    margin: 0 5px;
    transition: background-color 0.3s ease;
}

.menu-left a  span{
    display: none;
    width: 40px !important;
    height: 5px !important;
    background-color: #A9734A;
}

.menu-left a.active{
    color: #b8b1b1;
}


.menu-left a:hover  span{
    display: block;
    transition:  10s;
}

.navbar a:not(.cta-button):hover span{
    /* background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px; */
    
    border-bottom: 1px solid #66472f;
}


footer{
    width: 100%;
    background-color: #111;
}

.main-footer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(180px,0.5fr));
    gap: 10px;
    padding: 5rem 2rem;
}




.secundary-footer{
    display: flex;
    padding: 5rem 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5px;
}

.last-footer{
    padding: 10px;
}

.content2_last-footer{
    font-family: "Lato", sans-serif;
    font-weight: 500;
    color: #fff;
    padding: 10px 0px;
}

@media (max-width:1280px) {

    .gear-title h1{
        font-size: 5.3em !important;
    }

    .record{
        display: block !important;
    }

    #wrapper-rooms{
        height: auto !important;
    }

    .title-banner{
        padding: 2rem;
    }

    .record-img{
        flex: 10rem;
    }

    .wrapper-record{
        flex-wrap: wrap;
        padding: 5rem 0px;
        gap: 0px !important;
    }
    .record-title{
        flex-direction: column;
        text-align: center;
        padding: 2rem !important;
    }

    .record-title a{
        margin: 10px auto;
    }

    .record-img , .record-title{
        width: 100% !important;    
        justify-content: center;
        align-items: center;
    }

    .main-footer {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .slick-track img{
        max-width: 260px !important;
        max-height: 260px !important;
    }


}

@media (max-width: 800px) {
    .main-footer {
        grid-template-columns: 1fr 1fr;
    }
    .content1-main-footer {
        grid-column: span 1;
    }

    .slick-track img{
        max-width: 160px !important;
        max-height: 160px !important;
    }

    .make_services-wrapper h1{
        font-size: 50px !important;
    }

    
}

@media (max-width: 600px) {

    .record-title h1{
        font-size: 1.3em;
    }
    .record-title p{
        font-size: 1.2em !important;
    }

    .main-footer {
        grid-template-columns: 1fr;
    }
    .content1-main-footer {
        grid-column: span 1;
    }
    .content3-main-footer{
        justify-self:self-start !important;
    }

    .make_services-wrapper h1{
        font-size: 45px !important;
    }
}


@media (max-width: 500px) {

    .make_services-wrapper h1{
        font-size: 28px !important;
    }

    .make_services-wrapper p{
        font-size: 10px !important;
    }

    .make_services-wrapper a{
        padding: 20px 10px !important;
        font-size: 14px !important;
    }

    .main-footer{
        align-items: first baseline;
        gap: 30px;
    }

    .content1-main-footer{
        grid-column: 2 span;
    }

    .content2-main-footer{
        align-self: baseline;
        justify-content: baseline;
    }

    .content1-main-footer{
        align-self: first baseline;

    }
    .main-footer h1{
        font-size: 20px !important;
    }

    

    .record-title h1{
        font-size: 1.3em;
    }
    .record-title p{
        font-size: 1.2em !important;
    }

    .gear-title  > h1{
        font-size: 10px !important;
    }

}



@media (max-width:990px) {

    .navbar{
        font-size: 1.2em;
    }

    .gear-title h1{
        font-size: 6.4em !important;
    }

    .title-rooms{
        flex-wrap: wrap !important;
    }

    .title-rooms h1{
        flex: 100%;
    }

    .main-footer {
        grid-template-columns: 1fr 1fr;
    }
    
    .record-title p{
        font-size: 2em;
    }


    .content3-main-footer{
        justify-self:self-start !important;
    }

    .content1-main-footer {
        grid-column: span 1;
    }

    .wrapper-record{
        width: 100%;
        padding: 5rem 0px;
    }

    .record-img{
        width: 100%;
        height: auto !important;
    }

    .record-title{
        width: 100%;
        padding: 3rem 30px !important;
    }

    .record-title a{
        margin: 10px auto;
    }

    .gear-wrapper{
        flex-wrap:wrap-reverse !important;
        height: auto !important;
    }

    .gear-title {
        width: 100% !important;
        min-height: 500px;
        padding: 5rem 2rem !important;
    }

    .gear-img{
        width: 100% !important;
        min-height: 300px;
        background-attachment: fixed;
    }

    footer{
        width: 100%;
        height: 100%;
    }
}

.content2_last-footer{
    text-align: center;
}

.secundary-footer p {
    text-align: center;
}

@media (max-width:600px) {

    .record-title{
        padding: 4rem 0px;
    }

    .record-title h1{
        font-size: 5.8em;
    }

    .wrapper-banner{
        grid-template-columns: 85% 15%;
    }

    .title-banner{
        grid-column: 1/3;
        padding: 20px !important;
    }

    .social-media{
        grid-row: 1/2;
    }

    .title-banner h1{
        font-size: 2.8em;
    }
    .title-banner h2 {
        font-size: 2.2em;
    }

    .title-banner p{
        font-size: 1.2em;
    }


    .title-rooms{
        display: block;
    }

    .title-rooms h1{
        font-size: 4.2em;
    }

}


/* Estilos para garantir que o slider de imagem apareça em apenas uma linha */
.rooms img {
    width: 100%;
    height: auto;
    display: block;
}

.slick-slide {
    margin: 0 10px; /* Espaço entre as imagens */
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
    align-items: center;
}

/* Ajustes de estilo para tamanhos de tela específicos */
@media (max-width: 1024px) {
    .slick-slide {
        margin: 0 5px;
    }
}

@media (max-width: 600px) {
    .slick-slide {
        margin: 0 2px;
    }
}


@media (max-width:500px) {
    .box-record-img{
        width: 120px;
        height: 120px;
    }

    .record-title h1{
        font-size: 4.2em !important;
    }

    .record-title p{
        font-size: 1.1em !important;
    }


    .gear-title h1 {
        font-size: 3.2em !important;
    }
    .gear-title p{
        font-size: 1.2em !important;
    }
}


.make_services-wrapper{
    text-align: center; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    width: 100%; 
    height: 600px; 
    background-image-color: #A9734A;
}


.make_services-wrapper a{
    margin-top: 30px; 
    width: 280px; 
    padding: 30px 20px;
    background-image-color: #000; 
    color: #fff; 
    text-align: center;
    display: block;
    font-size: 25px;
}
